.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 60px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Ensure it's on top of other elements */
  width: 100%;
}

.App-header h1 {
  margin: 0;
  font-size: 20px; /* Adjust the font size as needed */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  /* padding-top: 150px; Add padding top to accommodate the header */
}

h1 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.server-list {
  margin-top: 30px;
  width: 100%;
}

.server-list table {
  width: 100%;
  border-collapse: collapse;
}

.server-list th, .server-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.server-list th {
  background-color: #f2f2f2;
  color: #333;
}

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}

.download-button {
  background-color: #4CAF50; /* Green background color */
  border: none; /* Remove border */
  color: white; /* White text color */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make it inline block */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Add pointer cursor on hover */
  border-radius: 5px; /* Add rounded corners */
}

/* Hover effect */
.download-button:hover {
  background-color: #45a049; /* Darker green on hover */
}